.filter-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.filter-group {
    margin-left: 24px;
    text-align: left;
    margin-top: 24px;
}

.filter-group ul {
    margin-left: 0;
    text-align: left;
}

.form-check {
    list-style: none;
    text-align: left;
}

.form-check ul li {
    list-style: none;
}

.form-check label {
    cursor: pointer;
    margin-left: 8px;
}

.form-check label:hover {
    text-decoration: underline;
}
