@media (max-width: 1024px) {

    .filter-container{
        width: auto;
        margin-bottom: 0;
    }

    .filter-content{
        margin-bottom: 16px;
        flex-direction: row;
    }

    .filter-group{
        flex: 1;
        margin-top: 16px;
        margin-left: 6px;
    }

    .filter-group ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .form-check{
        margin-right: 2px;
    }

    .sort-container label{
        display: none;
    }
}