.main-container {
    width: 80%;
    height: 100vh;
    padding-top: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter-container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 15%;
    margin: 10px 5px 10px 5px;
    /* min-height: 50%; */
    height: fit-content;
}

.content-container {
    width: 85%;
}

.card-grid {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin: 5px 5px 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.load-more-btn{
    flex: 1;
    margin: 0 10px 15px 10px;
    display: inline;
    border: 2px solid #474747;
    border-radius: 10px;
    align-self: center;
    height: 35px;
    width: 100%;
    color: #000000;
    font-size: 20px;
    /* letter-spacing: 1px; */
    /* padding: 10px; */
    transition: 0.5s;
    cursor: pointer;
}

.load-more-btn:hover {
    color: white;
    background-color: #4399f6;
}