.footer {
    background-color: black;
    color: white;
    text-align: center;
 
    font-size: 24px;
    /* left: 0;
    bottom: 0; */

  }

.footer {
  position: absolute;
  height: 240px;
  width: 100%;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  /* padding: 20px; */
}

.footer-logo img {
  height: 50px;
  margin: 0;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;

  width: 50%;
}


.footer-column ul {
  list-style: none;
  margin: 0px 24px;

}

.footer-column li {
  margin-bottom: 15px;
}

.footer-column a {
  color: white;
  text-decoration: none;
}

.footer-social h4 {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: space-between;
}


.social-links i {
  font-size: 20px;
}

@media (max-width: 1024px) {

  .footer{
    justify-content: space-around;
  }
}