body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}


.navi {
  height: 50px;
  background-color: rgb(140, 140, 140);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  text-decoration: none;
  color: rgb(255, 255, 255);

}

.navi .buttons {

}